@import url('https://fonts.googleapis.com/css?family=Roboto');


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background-color:#2ecc71;
}
.container{
	width: 100%;
	height: auto;

}

.col-sm-12{
	width: 100%;
	height: auto;
}
form{

}
.form-group{
	display: block;
	margin: 0 auto;
	position: relative;
	top: 100px;
	width: 450px;
	border: 2.5px solid black;
	padding: none;
	height: 450px;
	text-align: center;
	background-color: white;
	box-shadow: 10px 10px 5px black;

}

.form-group h1{
	background-color: #bdc3c7;
	position: relative;
	padding: none;
	margin: none;
	top: -20px;
	color: black;
	padding: 5px;
	font-family: 'Roboto', sans-serif;



}

.form-group p{
	position: relative;
	z-index: 5;
	text-align: center;
	top: 5px;
	font-size: 18px;


}

.form-control{
	width:250px;
	display: block;
	margin: 0 auto;
	text-align: center;
	box-shadow:none
}

.imc_result{
	text-align: center;
}

button{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 325px;
	left: 0;
	right: 0;
	width: 165px;
	height: 50px;
	border-radius: 0px;
	background-color: transparent;
	border: 1px solid black;
	font-size: 17px;
	transition: 0.35s linear;
	font-family: 'Roboto', sans-serif;

}

button:hover{
	background-color: black;
	color: white;

}

.form-control{
	border: 1.5px solid #2c3e50;
	transition: 0.50s linear;
}

.form-control:active{
	outline: none;
		border: 1.5px solid black;

	box-shadow: none;
}

.form-control:focus{
	outline: none;
	box-shadow: none;
		border: 1.5px solid black;

}















